.match-list {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 0 20px;
}

.match-list article {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.match-list article p {
  font-size: 16px;
  color: #999999;
  margin-top: 5px;
  line-height: 24px;
}

.match-list article a {
  height: 42px;
  border-radius: 5px;
  border: 2px solid #da552f;
  background: None;
  margin-top: 10px;
  color: #da552f;
  font-weight: bold;
  font-size: 16px;
  text-decoration: None;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.match-list article a:hover {
  background: #da552f;
  color: #fff;
}

.match-list .actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.match-list .actions button {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background: #da552f;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.match-list .actions button:hover {
  opacity: 0.7;
}

.match-list .actions button[disabled] {
  opacity: 0.5;
  cursor: default;
}
.match-list .match-info .match-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.match-list .match-info .match-name h2 {
  font-size: 25px;
  margin-right: 5px;
  color: #999999;
}

.match-list .match-info .match-name h3 {
  font-size: 20px;
  margin-left: 5px;
  color: #999999;
}
.match-list .match-info .opponents {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
}
.match-list .match-info .odd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.match-list .match-info .even {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
