.opponent {
  text-align: center;
  width: 100%;
}

.opponent strong {
  font-size: 30px;
  font-weight: bold;
}

.odd .opponent .score {
  height: 43px;
  width: 20%;
  position: relative;
  bottom: 35px;
  left: 230px;
  font-size: 30px;
  font-weight: bold;
}

.even .opponent .score {
  height: 43px;
  width: 20%;
  position: relative;
  bottom: 35px;
  left: 10px;
  font-size: 30px;
  font-weight: bold;
}
